* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;

}

li {
    float: left;
    margin: 4px;
    padding: 4px 8px;
    border: 1px solid #555d68;
    background-color: #555d68;
    color: white;
    cursor: pointer;
}

li:hover {
    background-color: white;
    color: #555d68;
}

section {
    margin-top: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    min-height: 200px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

footer {
    height: 20px;
    background-color: #555d68;
    color: white;
}

img {
    width: 100px;
    heigth: 100px;
}